$main-color: #3498db;
$font-color: rgba($color: #2a2e30, $alpha: 1.0);
$font-color: rgba($color: #2a2e30, $alpha: 1.0);

@mixin relative_block {
    position: relative;
    display: block;
}

@mixin flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin page_1320 {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 16px;
}

@mixin maxWidth_732 {
    max-width: 732px;
    width: 100%;
    margin: 0 16px;
}

@mixin font_basic {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: rgba($color: #000000, $alpha: 1.0)
}

@mixin font_small {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: rgba($color: #000000, $alpha: 1.0)
}

@mixin font_ssmall {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    color: rgba($color: #000000, $alpha: 1.0)
}

@mixin font_sssmall {
    font-size: 11px;
    font-weight: 300;
    line-height: 1.6;
    color: rgba($color: #000000, $alpha: 1.0)
}

@mixin font_tit {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.6;
    color: rgba($color: #000000, $alpha: 1.0)
}

@mixin oneline {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

header {
    @include page_1320;
    @include flex-sb;

    padding: 12px 16px;
    margin-bottom: 32px;
    position: relative;
    z-index: 99999999;
}

nav {
    @include flex-start;
}

nav a {
    @include font_small;
    @include relative_block;

    margin-left: 12px;

    &::after {
        content: '';

        position: absolute;
        top: calc(100% + 1px);
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: $main-color;
        transition: all 0.3s ease-in-out;
    }

    &:hover:after {
        width: 100%;
    }
}

.img_logo {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    background: url('../img/img_logo.png') no-repeat center / contain;

}

.page {
    @include page_1320;
}

.project_list {
    @include flex-start;
    flex-wrap: wrap;
}

.page_header {
    @include page_1320;
    @include flex-sb;
    position: relative;
    z-index: 99999;

    align-items: flex-start;

    opacity: 0;
    animation: 0.3s page_header 0.3s forwards ease-in;

    @keyframes page_header {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

.page_header_tit h4 {
    @include font_tit;
}

.customBtn {

    @include relative_block;

    padding: 6px 24px;
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    border-radius: 4px;

    color: rgba($color: #000000, $alpha: 0.3);
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $main-color;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        border: 1px solid $main-color;
    }

    &:hover::before {
        left: 0%;
    }

    span {
        position: relative;
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        z-index: 9;
        transition: all 0.3s ease-in-out;
    }

    &:hover span {
        color: #fff;
    }
    
    &.abs {
        position: absolute;
        top: 0;
        right: 16px;
        z-index: 999;
    }
}

.modal {
    @include relative_block;
    @include maxWidth_732;
}

.modal_header {
    h2 {
        @include font_tit;
    }
}

.modal_form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal_input_box {

    @include relative_block;
    margin-bottom: 12px;
    width: 100%;

    span {
        @include relative_block;
        @include font_small;
        min-width: 140px;
        margin-bottom: 4px;
        opacity: 0.4;
    }

    .file_custom {
        @include flex-start;

        * {
            margin-right: 4px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    input,
    .file_name {
        @include flex-start;
        @include font_small;

        border: 1px solid #eee;
        padding-left: 8px;
        min-height: 40px;
        width: calc(100% - 8px);
        border-radius: 8px;
        flex: 1;

        &:focus {
            border: 1px solid $main-color;
            outline: none;
            box-shadow: none;

            +span {
                border: 1px solid $main-color;
            }
        }

        .file_name.active {
            border: 1px solid $main-color;
            outline: none;
            box-shadow: none;
        }

        b {
            @include font_basic;
        }
    }

    input[type="file"] {
        display: none;
    }

    label {
        @include flex-start;

        width: 100%;
        cursor: pointer;

        .file_upload_btn {
            @include flex-center;

            min-width: 32px;
            min-height: 32px;
            border-radius: 50%;
            background-color: #fff;
            border: 1px solid #eee;

            &:hover {
                background-color: $main-color;
                border: 1px solid $main-color;

                i {
                    color: #fff
                }
            }

            i {
                @include font_small;
                margin-left: -2px;
                color: #eee;
            }
        }
    }

    button {
        color: #eee;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $main-color;
        }
    }
}

.btn_all {
    @include flex-center;
    @include font_small;

    min-height: 40px;
    border-radius: 8px;
    background-color: $main-color;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: darken($main-color, 10%);
    }
}

.layout {

    div {
        opacity: 0;
        border: 1px solid rgba($color: #000000, $alpha: 0.3);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    div.active {
        animation: 0.3s ease-in layout_opacity 0.3s forwards;
    }

    @keyframes layout_opacity {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

}

.content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: 0.3s reactflow 0.3s forwards ease-in-out;

    @keyframes reactflow {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .react-flow__attribution.right {
        display: none;
    }
}

.content_factor {

    @include relative_block;

    padding: 8px 12px;
    border-radius: 4px;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    &:hover {
        box-shadow: 0 2px 14px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.22);
    }

    .content_factor_top {

        @include flex-sb;

        h3 {
            @include font_ssmall;
            @include oneline;
            min-width: 180px;
        }

        span {
            @include font_sssmall;
        }

    }

    p {
        @include font_ssmall;
    }
}

.write {
    @include relative_block;
    @include page_1320;

    input {
        @include relative_block;
        height: 40px;
        width: 100%;

        outline: none;
        margin-bottom: 8px;
    }

    .write_title {
        font-size: 24px;
    }

    .write_subtitle {
        font-size: 18px;
    }

    .write_content {
        @include font_small;
        width: calc(100% - 16px);
        height: calc(100vh - 266px);
        margin-bottom: 12px;
        resize: none;
        border: 1px solid rgba($color: #000000, $alpha: 0.3);
        padding: 8px;
        border-radius: 4px;
    }
}

.view_content {
    @include relative_block;
    @include page_1320;

    padding-top: 12px;
    height: calc(100vh - 180px);

    .view_content_header {
        @include flex-sb;

        .view_content_title {
            @include font_basic;
        }

        .view_content_date {
            @include font_basic;
        }

        .view_content_subtitle {
            @include font_basic;
        }

        p {
            @include font_basic;
        }
    }
}

.loading {

    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);

    @include flex-center;

    .loading_icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: conic-gradient(#0000 10%, $main-color);
        -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
        animation: s3 1s infinite linear;

        @keyframes s3 {
            to {
                transform: rotate(1turn)
            }
        }
    }
}