// common

$main-color: #d2513c;
$sub-color: #edeadf;
$sub2-color: #d4d2c7;

// light

$light-font-color: rgba(#2a2e30, 1.0);
$light-background-color: rgba(#fff, 1.0);

// dark

$dark-font-color: rgba(#fff, 1.0);
$dark-font2-color: rgba(#fff, 0.5);
$dark-background-color: hsl(250, 24%, 9%);
$dark-background-hover-color: hsl(204, 30%, 15%);
$dark-border-line: hsl(246, 11%, 22%);
$dark-box-bg: hsl(250, 21%, 11%);
$dark-box2-bg: hsl(246, 15%, 15%);
$dark-box3-bg: hsl(246, 6%, 18%);

.light {
    background-color: $light-background-color;
}

.light * {
    color: $light-font-color;
}

.dark {
    background-color: $dark-background-color;
}

.dark * {
    color: $dark-font-color;
}

@mixin relative_block {
    position: relative;
    display: block;
}

@mixin flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin page {
    max-width: 920px;
    margin: 0 auto;
    padding: 0 16px;
}

@mixin maxWidth_732 {
    max-width: 732px;
    width: 100%;
    margin: 0 16px;
}

@mixin font_basic {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

@mixin font_small {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
}

@mixin font_ssmall {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.6;
}

@mixin font_sssmall {
    font-size: 11px;
    font-weight: 300;
    line-height: 1.6;
}

@mixin font_tit {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}

@mixin font_tit_2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.6;
}

@mixin oneline {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin twoline {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}

header {

    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 32px);

    @include flex-sb;

    padding: 12px 16px;
    z-index: 99999;

    border-bottom: 1px solid $dark-border-line;
}

nav {
    @include flex-start;
}

nav a {

    @include relative_block;

    margin-left: 4px;

    div {
        position: absolute;
        top: 22px;
        left: 50%;
        transform: translateX(-50%);
        display: block;

        border: 1px solid $dark-border-line;
        background-color: $dark-box-bg;
        padding: 4px 7px 3px;

        @include font_sssmall();
        color: $dark-font2-color;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        border-radius: 3px;
    }

    i {
        @include font_basic();
    }

    &:hover {

        i {
            color: $main-color;
        }

        div {
            opacity: 1;
        }
    }
}

.img_logo {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/portfolio_logo.png) no-repeat center / contain;
}

.page {
    @include page;
}

.project_list {
    @include flex-start;
    flex-wrap: wrap;

    list-style: none;

    &.li:nth-child(5) {
        background-color: #000;
    }
}

.page_header {

    @include flex-sb;
    position: relative;
    z-index: 99999;

    align-items: flex-start;
    padding: 16px;

    opacity: 0;
    animation: 0.3s page_header 0.3s forwards ease-in;

    @keyframes page_header {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

.page_header_tit h4 {
    @include font_tit;
}

.customBtn {
    position: relative;
    @include flex-center();

    color: rgba($color: #000000, $alpha: 0.3);
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $main-color;
        transition: all 0.3s ease-in-out;
    }

    &:hover::before {
        left: 0%;
    }

    span {
        position: relative;
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        z-index: 9;
        transition: all 0.3s ease-in-out;
    }

    &:hover span {
        color: #fff;
    }

    &.abs {
        position: absolute;
        top: 0;
        right: 16px;
        z-index: 999;
    }
}

.btn_wrap {
    position: fixed;
    bottom: 24px;
    right: 24px;

    display: flex;
    flex-direction: column;
    z-index: 99999;

    & a,
    button {

        width: 28px;
        height: 28px;
        border-radius: 50%;

        i {
            z-index: 9;
            width: 100%;
            height: 100%;
            @include font_small();

            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0;
            }
        }
    }
}

.modal_bg {
    animation: modal_bg_ani 0.3s forwards ease-in-out;
    opacity: 0;

    @keyframes modal_bg_ani {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes modal_bg_ani_close {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    &.close {
        opacity: 1;
        animation: 0.3s modal_bg_ani_close 0.3s forwards ease-in-out;
    }
}

.modal {
    @include relative_block;
    @include maxWidth_732;
    background-color: $dark-background-color;
    box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.4);
    opacity: 0;

    &.password {
        max-width: 368px;
    }

    animation: 0.3s modal_ani 0.3s forwards ease-in-out;

    @keyframes modal_ani {
        0% {
            opacity: 0;
            transform: translateY(30px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &.close {
        opacity: 1;
        animation: modal_ani_close 0.3s forwards ease-in-out;
    }

    @keyframes modal_ani_close {
        0% {
            opacity: 1;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            transform: translateY(30px);
        }
    }
}

.modal_header {
    h2 {
        @include font_tit;
    }

    h6 {
        @include font_tit_2();
    }
}

.modal_form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal_input_box {

    @include relative_block;
    margin-bottom: 12px;
    width: 100%;

    span {
        @include relative_block;
        @include font_small;
        min-width: 140px;
        margin-bottom: 4px;
        opacity: 0.5;
    }

    .file_custom {
        @include flex-start;

        * {
            margin-right: 4px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    input,
    .file_name {
        @include flex-start;
        @include font_ssmall;

        border: 1px solid $dark-border-line;
        background-color: transparent;
        padding-left: 8px;
        min-height: 40px;
        width: calc(100% - 8px);
        border-radius: 8px;
        flex: 1;
        margin-right: 10px;

        &:focus {
            border: 1px solid $main-color;
            outline: none;
            box-shadow: none;

            +span {
                border: 1px solid $main-color;
            }
        }

        .file_name.active {
            border: 1px solid $main-color;
            outline: none;
            box-shadow: none;
        }

        b {
            @include font_ssmall;
        }
    }

    input[type="file"] {
        display: none;
    }

    label {
        @include flex-start;

        width: 100%;
        cursor: pointer;

        .file_upload_btn {
            position: relative;
            @include flex-center;

            min-width: 32px;
            min-height: 32px;
            border-radius: 50%;
            border: 1px solid #eee;

            &:hover {
                background-color: $main-color;
                border: 1px solid $main-color;

                i {
                    color: #fff;
                }
            }

            i {
                @include font_ssmall;
                color: #eee;
                width: 100%;
                height: 100%;

                &:before {
                    position: absolute;
                    top: 49%;
                    left: 49%;
                    transform: translate(-50%, -50%);
                    margin: 0;
                }
            }
        }
    }

    button {
        color: #eee;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $main-color;
        }
    }
}

.btn_all {
    @include flex-center;
    @include font_small;

    min-height: 40px;
    border-radius: 8px;
    background-color: $main-color;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: darken($main-color, 10%);
    }
}

.layout {

    .box {
        opacity: 0;
        border: 1px solid rgba($color: #000000, $alpha: 0.3);

        display: flex;
        flex-direction: column;
        border: 2px solid $dark-border-line;
        border-radius: 16px;
    }

    .box.active {
        animation: 0.3s ease-in layout_opacity 0.3s forwards;
    }

    .box_inner {

        background-color: $dark-box2-bg;
        height: 100%;

        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 16px;

        .box_top {

            @include flex-start();
            padding: 40px 24px 16px;
            background-color: $dark-background-color;
            border-radius: 16px 16px 0 0;

            h1 {
                margin: 0;
                font-size: 32px;
            }
        }

        .explain {
            @include font_small();
            opacity: 0.7;
            text-align: justify;

            padding: 24px;
            padding-top: 0;
            background-color: $dark-background-color;
            border-radius: 0 0 16px 16px;

            flex: 1;
        }

        .box_bot {
            @include flex-start();
            flex-wrap: wrap;
            padding: 12px;

            .skill_wrap {
                @include flex-start();
                margin-right: 6px;
                margin-bottom: 6px;

                padding: 8px 10px 6px;
                border-radius: 8px;
                background-color: $dark-background-color;

                div.skill_icon {
                    @include flex-center();

                    min-width: 24px;
                    height: 24px;
                    border-radius: 4px;

                    &:after {
                        content: '';
                        width: 20px;
                        height: 20px;
                        background-repeat: no-repeat !important;
                        background-size: contain !important;
                        background-position: center !important;
                        border-radius: 4px;
                        overflow: hidden;
                    }
                }

                .HTML5::after {
                    background: url('../img/html5.png');
                }

                .CSS3::after {
                    background: url('../img/css3.png');
                }

                .React::after {
                    background: url('../img/react.png');
                }

                .ReactQuery::after {
                    background: url('../img/ReactQuery.png');
                }

                .Redux::after {
                    background: url('../img/redux.png');
                }

                .Zustand::after {
                    background: url('../img/Zustand.png');
                }

                .Python::after {
                    background: url('../img/python.png');
                }

                .Mysql::after {
                    background: url('../img/mysql.png');
                }

                .NextJs::after {
                    background: url('../img/next.js.png');
                }

                .Vercel::after {
                    background: url('../img/Vercel.png');
                }

                .Railway::after {
                    background: url('../img/Railway.png');
                }

                .Recoil::after {
                    background: url('../img/Recoil.png');
                }

                span {
                    @include font_ssmall();
                    opacity: 0.8;
                    margin-left: 4px;
                    padding-right: 4px;
                }
            }

        }
    }

    @keyframes layout_opacity {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

.LinkPopup {

    background-color: $dark-box-bg;
    border: 1px solid $dark-border-line;
    border-radius: 8px;

    padding: 5px 5px 6px;

    @include flex-start();

    a:last-child {
        margin-right: 2px;
    }

    a {
        @include relative_block();
        margin-right: 6px;

        width: 24px;
        height: 24px;

        i {
            @include flex-center();
            position: relative;
            top: 1px;
            font-size: 22px;
            background-repeat: no-repeat !important;
            background-size: contain !important;
            width: 100%;
            height: 100%;

            &.bambueong_logo {
                background: url('../img/bambueong_logo.png');
            }

            &.portfolio_logo {
                background: url('../img/portfolio_logo.png');
            }
        }
    }
}

.content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: 0.3s reactflow 0.3s forwards ease-in-out;

    @keyframes reactflow {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .react-flow__attribution.right {
        display: none;
    }
}

.content_factor {

    @include relative_block;

    border-radius: 8px;

    background-color: $dark-box2-bg;
    border: 1px solid $dark-border-line;

    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    .react-flow__handle {
        z-index: 999999;
    }

    &:hover {

        .content_factor_title,
        .content_factor_subtitle {
            background-color: $dark-background-hover-color;
        }
    }

    .content_factor_title {

        @include flex-sb;

        padding: 18px 16px 16px;
        border-radius: 8px 8px 0 0;
        background-color: $dark-background-color;

        h3 {
            @include font_small;
            @include oneline;
            min-width: 180px;
            padding-top: 4px;
            padding-left: 6px;
        }
    }

    .content_factor_subtitle {
        @include relative_block;
        padding: 0 16px 16px;
        background-color: $dark-background-color;
        border-radius: 0 0 8px 8px;

        p {
            @include relative_block;
            @include font_ssmall;
            @include twoline;

            color: $dark-font2-color;
            z-index: 9;

            max-height: 40px;
            max-width: 200px;
        }
    }

    .sec_box {
        width: calc(100% - 24px);
        padding: 8px 12px;
        background-color: $dark-box2-bg;
        border-radius: 0 0 8px 8px;

        span {
            @include font_ssmall;
            color: $dark-font2-color;
            margin-left: 4px;
        }

        i {
            @include font_small;
            color: $dark-font2-color;
            font-weight: 100;
        }
    }
}

.write {
    @include relative_block;

    opacity: 0;
    animation: 0.3s content_opacity 0.3s forwards ease-in-out;
    padding-top: 48px;

    input {
        @include relative_block;
        height: 40px;
        width: calc(100% - 8px);

        outline: none;
        background-color: $dark-background-color;
    }

    .write_title {
        @include page;
        font-size: 24px;
    }

    .write_subtitle {
        @include page;
        font-size: 14px;
        opacity: 0.6;
        height: 24px;
        margin-bottom: 24px;
    }

    .write_content {
        @include font_small;

        width: calc(100% - 16px);
        height: calc(100vh - 266px);
        margin-bottom: 12px;
        resize: none;
        border: 1px solid rgba($color: #000000, $alpha: 0.3);
        padding: 8px;
        border-radius: 4px;
    }

    .content_line {
        border-bottom: 1px solid $dark-border-line;
        margin-bottom: 24px;
    }
}

.view_content {

    @include relative_block;

    padding-top: 12px;
    height: calc(100vh - 80px);
    opacity: 0;
    animation: 0.3s content_opacity 0.3s forwards ease-in-out;

    .view_content_header {

        @include page;
        @include flex-sb;
        align-items: flex-start;
        padding: 48px 16px 8px;

        .view_content_title {
            @include font_tit;
        }

        .view_info {
            @include flex-start();

            .view_info_box {
                @include flex-start();

                i {
                    @include font_ssmall();
                    opacity: 0.5;
                    margin-right: 4px;
                }

                .view_content_date {
                    @include font_ssmall();
                    opacity: 0.5;
                    min-width: 68px;
                }
            }
        }

        p {
            @include font_basic;
        }
    }

    .content_line {
        border-bottom: 1px solid $dark-border-line;
        margin-bottom: 24px;

        .view_content_subtitle {
            @include page;
            font-size: 18px;
            opacity: 0.78;
            margin-bottom: 24px;
        }
    }

    pre {
        div {
            background-color: #2e3338 !important;
        }
    }

    .simpoeMDE_custom {
        @include page;
        padding-bottom: 100px;
    }
}

.CodeMirror {
    @include page;
    background-color: $dark-background-color !important;
    caret-color: #d2513c !important;
    padding: 0;
    border: 1px solid $dark-border-line;
    border-radius: 4px;
}

.simpleMDE_wrap {
    padding-bottom: 100px;
}

@keyframes content_opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.loading {

    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);

    z-index: 9999999999;

    @include flex-center;

    .loading_icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: conic-gradient(#0000 10%, $main-color);
        -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
        animation: s3 1s infinite linear;

        @keyframes s3 {
            to {
                transform: rotate(1turn)
            }
        }
    }
}

.sidebar {
    position: fixed;
    top: 50px;
    right: -288px;
    width: 240px;
    transition: all 0.3s ease-in-out;
    background-color: $dark-box3-bg;
    height: calc(100% - 50px);
    padding: 20px 24px;

    &.active {
        right: 0;
    }

    h3 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .index_list {

        li.active {
            button {
                color: $main-color;
            }
        }

        button {
            @include font_basic();
            opacity: 0.5;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $main-color;
                opacity: 1;
            }
        }
    }
}

.sidebar_btn {
    position: absolute;
    top: 16px;
    left: -32px;
}